{# set show_footer = true }}
{# set show_navbar = true #}
{# set body_class = '' #}

{% extends 'master.twig' %}

{% block title %}Completá tu registro{% endblock %}
{% block body %}
  <div class="hero is-primary is-bold is-fullheight">
    <div class="hero-body has-text-centered">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7-tablet is-5-desktop">
            <div class="box p-6">
              <div class="is-flex is-flex-direction-row is-justify-content-space-between mb-4">
                <a href="{{base_url()}}">
                  <img src="{{asset('img/logo-sl.svg')}}" class="image mx-auto mb-5" width="175" alt="">
                </a>
                <a href="{{base_url()}}">
                  <img src="{{asset('img/ppj-color.svg')}}" class="image mx-auto" width="40" alt="">
                </a>
              </div>
              <h1 class="title is-5 has-text-primary">¡Gracias por ser parte del Presupuesto Participativo Joven de San Lorenzo!</h1>
              <p>Para terminar tu registro, te pedimos por favor que completes los siguientes campos.</p>
              <hr>
              {% if error %}
                <div class="notification is-warning">
                  {{ error }}
                </div>
              {% endif %}
              <completar-registro form-url="{{ path_for('runNewUser') }}" :neighbourhoods="{{neighbourhoods|json_encode}}" :schools="{{schools|json_encode}}" log-in-url="{{path_for('showLogin')}}" token="{{activation_key}}">
                {% include 'loading.twig' %}
              </completar-registro>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}{% endblock %}