{% set show_footer = false %}
{% set show_navbar = false %}
{# set body_class = '' #}

{% extends 'master.twig' %}
{% block scriptshead %}
  <script src="https://www.google.com/recaptcha/api.js?hl=es-419&onload=vueRecaptchaApiLoaded&render=explicit" async="async" defer="defer"></script>
{% endblock %}

{% block title %}Iniciar sesión{% endblock %}
{% block body %}
  <div class="hero is-primary is-bold is-fullheight">
    <div class="hero-body has-text-centered">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7-tablet is-5-desktop">
            <div class="box p-6">
              {# {% if error %}
                <div class="notification is-warning">
                  Usuario o contraseña invalidos. Vuelva a intentarlo
                </div>
              {% endif %} #}
              <div class="is-flex is-flex-direction-row is-justify-content-space-between mb-4">
              <a href="{{base_url()}}">
                <img src="{{asset('img/logo-sl.svg')}}" class="image mx-auto mb-5" width="175" alt="">
              </a>
              <a href="{{base_url()}}">
                <img src="{{asset('img/ppj-color.svg')}}" class="image mx-auto" width="40" alt="">
              </a>
              </div>
              <login message="{{subject.type}}" login-url="{{ path_for('runLogin') }}" 
              google-key="{{googleKey}}" error="{{error}}"
              sign-up-url="{{ path_for('runNewPendingUser') }}"
              reset-password="{{path_for('runResetPassword')}}"
              home-url="{{path_for('showHome')}}"
              allow-sign-up="{{is_signup_open()}}"
              no-signup-message="{{options()['no-signup-message']}}">
                {% include 'loading.twig' %}
              </login>
              <br>
               <a href="{{base_url()}}" class="button is-white">
                <i class="fas fa-home fa-fw"></i>&nbsp;Volver al inicio</a>
              <!---<a href="https://virtuagora.org" target="_blank"><img src="{{asset('img/logo-v.svg')}}" class="image is-32x32 is-centered" alt=""></a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}{% endblock %}