{# <div class="notification is-primary is-marginless is-radiusless has-text-centered">
<i class="fas fa-bullhorn fa-2x"></i>&nbsp;<br>El escrutinio se realizará el próximo Lunes 9 de septiembre a las 9:30 Hs en la sala de la biblioteca del Centro Cultural y educativo Brigadier Estanislao López.<br><b>¡Se extiende la invitación a todos los vecinos y vecinas a participar del mismo!</b>
</div> #}
{% if vote_available() and not vote_ended() %}
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8">
          <h1 class="title is-3 has-text-primary has-text-centered">¡Las urnas están abiertas!</h1>
          <h1 class="subtitle has-text-primary is-4 has-text-centered">¡Muy pronto pasaremos por tu escuela para que votes!</h1>
          <br/>
          <div class="columns">
            <div class="column is-4">
              <h1 class="title is-3 has-text-primary has-text-centered-touch">
                Próxima fecha
              </h1>
              <h1 class="subtitle is-5">¡Estas son las fechas mas próximas donde podrás encontrarnos!</h1>
            </div>
            <div class="column">
              <calendar-index :calendar="{{options().calendar}}" :show-more="false">
                {% include 'loading.twig' %}
              </calendar-index>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column is-4">
              <h1 class="title is-3 has-text-primary has-text-centered-touch">
                Todas las fechas
              </h1>
              <h1 class="subtitle is-5">¡Informate para saber donde podés encontrarnos!</h1>
            </div>
            <div class="column">
              {% for date in calendar.value %}
                <article class="media">
                  <figure class="media-left">
                    <i class="far fa-calendar-alt fa-2x"></i>
                  </figure>
                  <div class="media-content" style="overflow: visible;">
                    <span class="tag is-primary is-medium is-pulled-right">
                      <i class="far fa-clock fa-fw"></i>&nbsp;{{date.from|date("H:i")}} - {{date.to|date("H:i")}}</span>
                    <h1 class="title is-4 has-text-primary">{{date.district|capitalize}}</h1>
                    <h1 class="subtitle mb-0 is-5">{{date.from|date("d/m/Y")}}</h1>
                    <p>Dirección: {{date.address}}</p>
                  </div>
                </article>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="is-marginless">
{% endif %}
<section class="section">
  <div class="container">
    {% if vote_available() %}
      <h1 class="title has-text-centered is-2 is-size-3-touch has-text-primary">&nbsp;¡Estos son algunos proyectos!</h1>
      <h1 class="subtitle has-text-centered is-4 is-size-6-touch has-text-dark">&nbsp;¡Que podes votar en el PP Joven San Lorenzo!</h1>
    {% else %}
      <h1 class="title has-text-centered is-2 is-size-3-touch has-text-primary">&nbsp;¡La votación ha cerrado!</h1>
      <h1 class="subtitle has-text-centered is-4 is-size-6-touch has-text-dark">&nbsp;Proximamente se publicarán los resultados!</h1>
    {% endif %}
    <br>
    <exhibit url="{{path_for('retrieveProject')}}" :force-feasible="true" :random="true">
      {% include 'loading.twig' %}
    </exhibit>
    <div class="has-text-centered mt-5">
    <h1 class="subtitle is-5">Conocé los proyectos que podes votar.<br>¡Participá por un San Lorenzo mejor!</h1>
    <a href="{{path_for('showCatalogo')}}" class="button is-primary is-medium is-outlined">
            <i class="fas fa-book-reader fa-fw fa-lg"></i>&nbsp;Conocé el catálogo</a>
    </div>
  </div>
</section>
<a href="{{path_for('showSellos')}}">
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
        <div class="content has-text-centered-touch">
          <h1 class="title is-4"><i class="fas fa-lock fa-lg"></i>&nbsp;Agregamos integridad a los resultados</h1>
          <p>Con el objetivo de sumar una capa adicional de confiabilidad al proceso de votación de proyectos del Presupuesto Participativo Joven de San Lorenzo, los resultados del mismo se van sellando digitalmente de forma diaria.</p>
          <p>Los resultados se van sellando día a día y publicando en <b>Blockchain Federal Argentina</b>. Donde cualquiera puede verificarlos en su web oficial</p>
          <p class="has-text-warning"><i class="fas fa-arrow-right fa-lg"></i>&nbsp;Conocé más en nuestra seccion "Integridad de los resultados"</p>
        </div>
        </div>
        <div class="column">
        <img src="{{asset('img/blockchain-federal-argentina-white.svg')}}" class="image is-centered" style="width:280px;"></div>
      </div>
    </div>
  </div>
</section>
</a>
