{% extends 'sl/panel/master.twig' %}

{% block section %}
	<div class="tabs">
     <ul>
      {% if is_state('upload-proposals') and proposals_available() %}
			<li><a href="{{path_for('showUserPanelUpdateProject',{'pro':proyecto.id})}}"><i class="fas fa-edit fa-lg"></i>&nbsp;Editar datos</a></li>
			<li><a href="{{path_for('showUserPanelProjectFiles',{'pro': proyecto.id})}}"><i class="fas fa-upload fa-lg"></i>&nbsp;Subir archivos</a></li>
			<li class="is-active"><a href="{{path_for('showUserPanelProjectImagen',{'pro': proyecto.id})}}"><i class="fas fa-image fa-lg"></i>&nbsp;Subir una imagen</a></li>
			{% endif %}
			<li><a href="{{path_for('showUserPanelProjectJournal',{'pro':proyecto.id})}}"><i class="fas fa-history fa-lg"></i>&nbsp;Historial</a></li>
    </ul>
  </div>
  {% if is_state('upload-proposals') and proposals_available() %}
  <form-image form-url="{{path_for('runUploadImage',{'pro':proyecto.id})}}" :project="{{proyecto|json_encode}}">
    {% include 'loading.twig' %}
  </form-image>
  {% endif %}
{% endblock %}
