{% extends 'sl/panel/master.twig' %}

{% block section %}
<h1 class="title is-1 is-size-3-touch has-text-primary">¡Hola {{subject.name|split(' ')[0]}}!</h1>
<h1 class="subtitle is-3 is-size-5-touch">Este es tú panel de control <i class="far fa-grin-wink animated bounceIn delay-1s"></i></h1>
<div class="content">
<p><i class="fas fa-arrow-left fa-fw"></i>&nbsp;Comenzá haciendo clic en alguna función del menú</p>
</div>

{% if 'user' in subject.roles %}
  {% if is_state('upload-proposals') and proposals_available() %}
    <hr>
    {# {% if user.verified_dni is null %}
    <div class="notification is-warning my-5">
      <i class="fas fa-exclamation-triangle"></i>&nbsp;<b>¡Importante!</b>&nbsp;Para que tu proyecto pueda pasar la etapa de factibilidad, es importante que verifiques tu cuenta subiendo tu DNI. Al validar tu cuenta, tambien se te habilita la posibilidad de votar de forma <u>online</u>. Hace <a href="{{path_for('showUserPanelVerify')}}}">clic aqui</a> para subir tu DNI.
    </div>
    {% endif %} #}
    <a href="{{path_for('showUserPanelCreateProject')}}">
      <div class="notification is-link">
      <figure class="image is-48x48 has-text-right is-pulled-right">
      <i class="fas fa-chevron-circle-right fa-fw fa-2x animated bounceIn delay-2s"></i>
      </figure>
      <h1 class="title is-5 is-marginless">¡Participá subiendo tu propuesta!&nbsp;<i class="fas fa-star"></i></h1>
        <p>¡No te olvides! Tenes tiempo hasta el {{options()['proposals-deadline']|date('d/m/Y')}} para subir tu propuesta!</p>
      </div>
    </a>
  {% endif %}

  {# {% if user.verified_dni == false and user.verified_dni is not null %}
  <div class="notification is-link my-5">
  <p class="is-size-5"><i class="fas fa-info-circle fa-lg"></i>&nbsp;<b>¡El equipo está verificando tu identidad!</b></p>
  <p>Te pedimos que vuelvas mas tarde para confirmar que el equipo confirmó tus datos</p>
  </div>
  {% endif %}
  {% if user.verified_dni == true %}
  <div class="notification is-success my-5">
  <p class="is-size-3"><i class="fas fa-check-circle fa-lg"></i>&nbsp;<b>¡Tu cuenta ha sido verificada!</b></p>
  <p>¡Ahora vas a poder votar de forma <u>online</u> en el presupuesto participativo!</p>
  </div>
  {% elseif user.verified_dni is null %}
  <div class="notification is-warning my-5">
    <div class="content">
    <p class="is-size-4"><i class="fas fa-exclamation-triangle fa-lg"></i>&nbsp;<b>¡Importante!</b></p>
    <p>Para que tu proyecto pueda pasar la etapa de factibilidad, es importante que verifiques tu cuenta subiendo tu DNI.</p>
    <p>Al validar tu cuenta, tambien se te habilita <b>la posibilidad de votar de forma <u>online</u></b>.</p>
    <p>Hace <a href="{{path_for('showUserPanelVerify')}}">clic aqui</a> para verificar tu identidad.</p>
    </div>
  </div>
  {% endif %} #}
{% endif %}

{% endblock %}