{% if is_state('pre-upload-proposals') %}
  <h5 class="title is-4">Muy pronto vas a poder publicar tus propuestas</h5>
  <h5 class="subtitle is-5">A partir del {{options()['proposals-launch']|date("d/m/Y")}} se abren los formularios para crear propuestas</h5>
  <countdown-to date="{{options()['proposals-launch']}}" style="margin-bottom: 30px;"></countdown-to>
{% elseif is_state('upload-proposals') %}
  <h5 class="title is-4">¡Participá de la edición {{options()['current-edition']}}!</h5>
  <h5 class="subtitle is-5">Hasta el {{options()['proposals-deadline']|date("d/m/Y")}} podés subir tus propuestas para el #PPJSanLorenzo {{options()['current-edition']}}</h5>
  <countdown-closing date="{{options()['proposals-deadline']}}" what="El formulario" style="margin-bottom: 30px;"></countdown-closing>
{% elseif is_state('pre-vote') %}
  <h5 class="title is-4">¡Pronto comienza la votación {{options()['current-edition']}}!</h5>
  <h5 class="subtitle is-5">¡Se viene la votación de #PPJSanLorenzo {{options()['current-edition']}}, conocé los proyectos que participarán!</h5>
  <countdown-to date="{{options()['vote-launch']}}" what="El formulario" style="margin-bottom: 30px;"></countdown-closing>
{% elseif is_state('vote') %}
  <h5 class="title is-4">¡Votá en el #PPJSanLorenzo!</h5>
  <h5 class="subtitle is-5">¡Votá por tus proyectos favoritos para un San Lorenzo mejor!</h5>
{% elseif is_state('pre-results') %}
  <h5 class="title is-4">¡Gracias a todxs!</h5>
  <h5 class="subtitle is-5">¡Por haber participado en el #PPJSanLorenzo {{options()['current-edition']}}!<br>¡Muy pronto se publicarán los resultados!</h5>
{% elseif is_state('results') %}
  <h5 class="title is-4">¡Felicidades a todos y a los proyectos ganadores!</h5>
  <h5 class="subtitle is-5">¡Ya podes conocer los proyectos seleccionados para el #PPJSanLorenzo {{options()['current-edition']}}!</h5>
{% else %}
 
{% endif %}
