<footer class="footer">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-4 has-text-centered-touch">
        <ul>
          <li>
            <a href="{{path_for('showHome')}}">Inicio</a>
          </li>
          <li>
            <a href="{{path_for('showCatalogo')}}">Catálogo de proyectos</a>
          </li>
          <li>
            <a href="{{path_for('showTerminos')}}">Términos y condiciones</a>
          </li>
          <li>
            {# <a href="{{path_for('showAgenda')}}">Agenda</a> #}
          </li>
        </ul>
      </div>
      <div class="column is-4">
        <a href="https://sanlorenzo.gob.ar" target="_blank"><img src="{{asset('img/logo-sl-white.svg')}}" class="image is-centered" style="width:240px;" alt="Logo Presupuesto Participativo de San Lorenzo"></a>
        <a href="https://twitter.com/virtuagora">
        <div class="mt-4 is-flex is-flex-direction-row is-align-content-center is-justify-content-center is-size-7">
          <span class="has-text-white is-align-self-center mr-1">En colaboración con</span>
          <img src="{{asset('img/logo-v-white.svg')}}" width="18" class="mr-1" alt=""/>
          <span class="has-text-white is-align-self-center"> Virtuágora</span>
        </div>
        </a>
      </div>
      <div class="column is-4 has-text-centered">
        <div>
        <span class="is-size-4">
          <b>Tel.: (03476) 15418681</b>
        </span>
        <br><i class="fas fa-envelope"></i>&nbsp;presupuestoparticipativo.sl@gmail.com
        <br>Secretaría de Coordinación General - Urquiza 517
        <br><b>Municipalidad de San Lorenzo</b>
        </div>
      </div>
    </div>
  </div>
</footer>
{# <div class="hero is-small is-black">
  <div class="hero-body has-text-centered">
    © 2018 <a href="http://sanlorenzo.gob.ar">Municipalidad de San Lorenzo</a>
  </div>
</div> #}