<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4 has-text-centered-touch">
        <ul>
          <li>
            <a href="{{path_for('showHome')}}">Inicio</a>
          </li>
          <li>
            <a href="{{path_for('showCatalogo')}}">Catálogo de proyectos</a>
          </li>
          <li>
            <a href="{{path_for('showTerminos')}}">Términos y condiciones</a>
          </li>
          <li>
            {# <a href="{{path_for('showAgenda')}}">Agenda</a> #}
          </li>
        </ul>
      </div>
      <div class="column is-4">
      <img src="{{asset('img/logo-sl-white.svg')}}" class="image is-centered" style="width:240px;" alt="Logo Presupuesto Participativo Joven de San Lorenzo">
      </div>
      <div class="column is-4 has-text-centered">
        Urquiza 517 - Tel.: (03476) 15418681
        <br>presupuestoparticipativo.sl@gmail.com
        <br>Secretaría de Coordinación General
        <br><b>Municipalidad de San Lorenzo</b>
      </div>
    </div>
  </div>
</footer>
{# <div class="hero is-small is-black">
  <div class="hero-body has-text-centered">
    © 2018 <a href="http://sanlorenzo.gob.ar">Municipalidad de San Lorenzo</a>
  </div>
</div> #}