<footer class="footer">
  <section id="logos-nosotros" class="hero is-primary is-bold" style="background-image: url('/assets/img/header-bg-01.jpg')">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
            <a href="http://virtuagora.org">
              <img src="{{asset('img/logo-virtuagora-white.svg')}}" class="image logo" style="margin: 0 auto" alt="">
            </a>
          </div>
          <div class="column is-narrow  has-text-centered">
            <a href="https://web.facebook.com/GabineteJoven">
              <img src="{{asset('img/gabinetejoven.svg')}}" class="image logo" style="margin: 0 auto" alt="">
            </a>
          </div>
          <div class="column is-narrow has-text-centered">
            <a href="http://www.santafe.gob.ar/">
              <img src="{{asset('img/santafelogo.svg')}}" class="image logo" style="margin: 0 auto" alt="">
            </a>
          </div>
          <div class="column has-text-centered">
            <a href="http://www.santafe.gob.ar/index.php/web/content/view/full/114387/">
              <img src="{{asset('img/ingenia-logo-white.svg')}}" class="image logo" style="margin: 0 auto" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section container">
    <div class="has-text-centered">
      <img src="{{asset('img/slogan3-dark.svg')}}" class="image is-hidden-touch" style="height: 50px; margin: 0 auto 10px;">
      <img src="{{asset('img/slogan4-dark.svg')}}" class="image is-hidden-desktop" style="width: 100px; margin: 0 auto 10px;">
      <br>
      <p class="is-size-7">
        Hecho con
        <i class="fas fa-heart fa-lg has-text-danger"></i>
        por
        <a href="https://virtuagora.org">Virtuágora</a>
        e
        <a href="http://www.santafe.gob.ar/index.php/web/content/view/full/114387/">Ingenia</a>
        del
        <a href="https://web.facebook.com/GabineteJoven">Gabinete Joven</a>
      </p>
    </div>
  </div>
</footer>