{% set editable = ( is_state('upload-proposals') and proposals_available() ) ? 'true' : 'false'  %}
{% extends 'sl/admin/master.twig' %}
{% block section %}
  <h1 class="title is-1">Proyectos factibles Vs. Zonas beneficiadas</h1>
  <hr>
  <div class="columns">
  <div class="column">
  <p><b>Zonas y Barrios:</b></p>
  <ul>
    {# ńeighourhoods.name joined with "," #}
    {% for district in districts %}
      <li><u>{{ district.name }}:</u> {% for neighbourhood in district.neighbourhoods %}{{ neighbourhood.name }} {% if not loop.last %}, {% endif %}{% endfor %}</li>
    {% endfor %}
  </ul>
  
  </div>
  <div class="column">
    <p><b>Notas:</b></p>
    <p><i class="fas fa-map-marker"></i> El proyecto proviene de la zona</p>
    <p><i class="fas fa-check"></i> El proyecto beneficia a la zona</p>
  </div>
  </div>
  <hr>
  <table class="table is-striped is-bordered is-narrow is-fullwidth">
    <thead>
      <tr>
        <th>Codigo</th>
        {% for district in districts %}
          <th class="has-text-centered">{{ district.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for proyecto in proyectos %}
        <tr>
          <td class=""><a href="{{path_for('showProject', {pro: proyecto.id})}}">{{proyecto.code}}</a></td>
          {% for district in districts %}
            <td class="has-text-centered">
              {# if district.id is in array proyecto.benefited_districts #}
              {% if proyecto.district_id == district.id %}
                <span class="icon has-text-black">
                  <i class="fas fa-map-marker"></i>
                </span>
              {% endif %}
      
              {% if proyecto.benefited_districts.contains(district.id) %}
                <span class="icon has-text-black">
                  <i class="fas fa-check"></i>
                </span>                
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    </table>

{% endblock %}