<div class="column is-12-mobile is-3-desktop is-4-tablet is-offset-1-desktop">
{% if project.author_id is not null and project.author.id == subject.extra.user_id and is_state('upload-proposals') and proposals_available() %}
<div class="buttons">
<a href="{{path_for('showUserPanelUpdateProject', {'pro': project.id})}}" class="button is-link is-fullwidth is-medium is-outlined">
<i class="fas fa-edit"></i>&nbsp;Editar mí propuesta</a>
<a href="{{path_for('showUserPanelProjectFiles', {'pro': project.id})}}" class="button is-link is-fullwidth is-medium is-outlined">
<i class="fas fa-upload"></i>&nbsp;Subir un archivo</a>
<a href="{{path_for('showUserPanelProjectImagen', {'pro': project.id})}}" class="button is-link is-fullwidth is-medium is-outlined">
<i class="fas fa-image"></i>&nbsp;Cambiar imagen</a>
</div>
{% endif %}
{% if 'admin' in subject.roles %}
<div class="buttons">
<a href="{{path_for('showAdminUpdateProject', {'pro': project.id})}}" class="button is-link is-fullwidth is-medium is-outlined">
<i class="fas fa-edit"></i>&nbsp;Editar propuesta</a>
<a href="{{path_for('showAdminUpdateProjectFeasibility', {'pro': project.id})}}" class="button is-link is-outlined is-fullwidth">
<i class="fas fa-clipboard-check"></i>&nbsp;Asignar factibilidad</a>
<a href="{{path_for('showAdminProjectFiles', {'pro': project.id})}}" class="button is-link is-fullwidth is-outlined">
<i class="fas fa-upload"></i>&nbsp;Subir archivos</a>
<a href="{{path_for('showAdminProjectImagen', {'pro': project.id})}}" class="button is-link is-fullwidth is-outlined">
<i class="fas fa-image"></i>&nbsp;Cambiar imagen</a>
<a href="{{path_for('showAdminPrintProject', {'pro': project.id})}}" class="button is-link is-fullwidth is-outlined">
<i class="fas fa-print"></i>&nbsp;Imprimir</a>
</div>
{% endif %}
{% if project.picture_name %}
<img src="{{path_for('showProjectPicture',{'pro': project.id})}}" class="image" style="border-radius:5px;" alt="">
<br>
{% endif %}
{% if project.code %}
<div class="notification is-dark has-text-centered">
  <div class="is-clearfix">
    <h1 class="subtitle is-5">Código</h1>
    <h1 class="title is-1">{{project.code}}</h1>
  </div>
</div>
{% endif %}
{% if project.selected and show_results() %}
  <div class="notification is-warning has-text-centered is-hidden-desktop">
    <h1 class="title is-5">
      <img src="/assets/img/icons/medal-dark.svg" alt="" class="image is-inline" style="width: 25px;margin-bottom: -8px;">
      ¡Seleccionado!
    </h1>
  </div>
{% endif %}
<div class="notification is-primary has-text-centered">
  <div class="is-clearfix">
    <h1 class="title is-5">¡Compartilo!</h1>
    <p class="">
      <a href="javascript:shareOnFacebook()">
        <i class="fab fa-facebook fa-3x fa-fw"></i>
      </a>
      <a href="https://twitter.com/intent/tweet?text=¡Este proyecto está participando del Presupuesto Participativo Joven de San Lorenzo! ¡Conocé, compartí, y votá!&url=https://ppjoven.sanlorenzo.gob.ar/proyectos/{{project.id}}&hashtags=PPSanLorenzo">
        <i class="fab fa-twitter fa-3x fa-fw"></i>
      </a>
      <a href="whatsapp://send?text=El proyecto '{{project.name}}' está participando del Presupuesto Participativo Joven de San Lorenzo! ¡Conocé, compartí, y votá! %23PPSanLorenzo https://ppjoven.sanlorenzo.gob.ar/proyectos/{{project.id}}">
        <i class="fab fa-whatsapp fa-3x fa-fw"></i>
      </a>
    </p>
  </div>
</div>
<div class="notification is-light has-text-centered is-hidden-desktop">
  <h1 class="subtitle is-5">Presupuesto solicitado</h1>
  <h1 class="title is-1 has-text-dark">
    $
    {{project.total_budget|replace({".00" : ""})|number_format(0, ',', '.')}}
  </h1>
</div>
<div class="notification is-{{project.type}} has-text-centered is-hidden-desktop">
  <h1 class="title is-3 has-text-white">
    <img src="/assets/img/icons/w-{{project.type}}.svg" alt="" class="image is-inline" style="width: 35px;margin-bottom: -8px;">
    {{project.type|capitalize}}
  </h1>
</div>
{% if project.type == 'institucional' %}
  <h1 class="title is-4">Nombre de la organización</h1>
  <h1 class="subtitle is-5 is-spaced">{{project.organization_name}}</h1>
  <h1 class="title is-4">Entidad legal</h1>
  <h1 class="subtitle is-5 is-spaced">{{project.organization_legal_entity}}</h1>
  <h1 class="title is-4">Dirección</h1>
  <h1 class="subtitle is-5">{{project.organization_address}}</h1>
  <hr>
  <h1 class="title is-4">Presenta</h1>
  <h1 class="subtitle is-5">{{project.author_names}}
    {{project.author_surnames}}</h1>
{% endif %}
</div>