{% if is_state('pre-upload-proposals') %}
<p><i class="fas fa-info-circle fa-lg"></i>&nbsp;{{subject.name|split(' ')[0]}}, vas a poder subir propuestas, pero para votar de forma online <b>debes verificar tu cuenta</b>. Para eso, <a href="{{path_for('showUserPanelVerify')}}">hacé click aquí</a> para ir a tu perfil.</p>
{% elseif is_state('upload-proposals') %}
<p><i class="fas fa-info-circle fa-lg"></i>&nbsp;{{subject.name|split(' ')[0]}}, podes subir propuesta, pero para votar de forma online <b>debes verificar tu cuenta</b>. Para eso, <a href="{{path_for('showUserPanelVerify')}}">hacé click aquí</a> para ir a tu perfil.</p>
{% elseif is_state('pre-vote') %}
<p><i class="fas fa-info-circle fa-lg"></i>&nbsp;{{subject.name|split(' ')[0]}}, pronto comienza la votación, pero para poder votar de forma online <b>debes verificar tu cuenta</b>. Para eso, <a href="{{path_for('showUserPanelVerify')}}">hacé click aquí</a> para ir a tu perfil.</p>
{% elseif is_state('vote') %}
<p><i class="fas fa-info-circle fa-lg"></i>&nbsp;{{subject.name|split(' ')[0]}}, <b>no estas habilitado/a</b> para votar de forma <u>online</u>. Para poder votar, <b>debes verificar tu cuenta</b>. Para eso, <a href="{{path_for('showUserPanelVerify')}}">hacé click aquí</a> para ir a tu perfil.</p>
{% elseif is_state('pre-results') %}
<p><i class="fas fa-info-circle fa-lg"></i>&nbsp;{{subject.name|split(' ')[0]}}, la votación ha terminado. Usted no ha podido participar por <b>no estar habilitado/a</b> para votar de forma <u>online</u>. Para conocer las causas, <a href="{{path_for('showFAQ')}}">hacé click aquí</a>.</p>
{% elseif is_state('results') %}
<p><i class="fas fa-info-circle fa-lg"></i>&nbsp;{{subject.name|split(' ')[0]}}, usted no ha podido participar por <b>no estar habilitado/a</b> para votar de forma <u>online</u>. Para conocer las causas, <a href="{{path_for('showFAQ')}}">hacé click aquí</a>.</p>
{% endif %}