<div class="hero is-primary has-image-background" style="background-image: url({{asset('img/ppj-2022-bg.jpg')}})">
  <div class="hero-body">
    <div class="container has-text-centered">
    <h4 class="subtitle is-4 is-size-5-touch is-800 has-text-white shadow-text">PARTICIPÁ DE LA EDICIÓN {{options()['current-edition']}}</h4>
    <h1 class="title is-2 is-size-3-touch has-text-primary is-800">¡TE CONTAMOS COMO! ¡MIRA!</h1>
    <br>
    <img src="{{asset('img/ojito.svg')}}" class="image mx-auto" width="100" alt="">
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
      <h1 class="title is-2 is-800 has-text-primary">UN ENFOQUE DESDE LOS BARRIOS</h1>
        <div class="content">
          <p>En busca de fomentar el conocimiento de las realidades y necesidades de nuestra ciudad, invitamos a los estudiantes a iniciar su proceso creativo desde los barrios de San Lorenzo. Para ello, hemos dividido los 26 barrios en 10 zonas, asignando una zona a cada escuela secundaria participante.</p>
          <p>Este enfoque barrial tiene como objetivo principal que los estudiantes se sumerjan en las problemáticas y oportunidades de mejora de su entorno inmediato. De esta manera, sus proyectos estarán estrechamente vinculados con el contexto en el que viven y estudian, generando un impacto tangible en nuestra comunidad.</p>
          <p>Sin embargo, es importante destacar que esta iniciativa no limita la posibilidad de presentar proyectos de mayor alcance que beneficien a toda la ciudad o a otros barrios. Como siempre, nuestro objetivo es abrir las puertas a la creatividad y el compromiso de los estudiantes, impulsándolos a ser protagonistas de cara a los desafíos que nos rodean.</p>
        </div>
        <h5 class="subtitle is-3 has-text-primary">Hacé click en la zona asignada a tu colegio para obtener más información</h5>
        <div class="content">
          <p><a href="{{asset('img/maps/01-mapa-zona.jpg')}}" class="button is-primary is-outlined" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;<b>ZONA 01</b> - Esc. de Ens. Media Nº 439 Dr. Melitón Francisco Hierro</a></p>
          <p><a href="{{asset('img/maps/02-mapa-zona.jpg')}}" class="button is-primary is-outlined" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;<b>ZONA 02</b> - Esc. de Edu. Téc. Nº 477 Combate de San Lorenzo</a></p>
          <p><a href="{{asset('img/maps/03-mapa-zona.jpg')}}" class="button is-primary is-outlined" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;<b>ZONA 03</b> - Esc. de Edu. Téc. Nº 672 Remedios Escalada de San Martín</a></p>
          <p><a href="{{asset('img/maps/04-mapa-zona.jpg')}}" class="button is-primary is-outlined" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;<b>ZONA 04</b> - Esc. de Ens. Media Nº 549 Ma. Catalina Echavarría de Vidal</a></p>
          <p><a href="{{asset('img/maps/05-mapa-zona.jpg')}}" class="button is-primary is-outlined" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;<b>ZONA 05</b> - Esc. de Ens. Media Particular Incorp. Nº 8083 San Carlos</a></p>
          <p><a href="{{asset('img/maps/06-mapa-zona.jpg')}}" class="button is-primary is-outlined" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;<b>ZONA 06</b> - E.E.S.O.P.I. Nº 3180 Sta. Rosa de Viterbo</a></p>
          <p><a href="{{asset('img/maps/07-mapa-zona.jpg')}}" class="button is-primary is-outlined" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;<b>ZONA 07</b> - Colegio Nº 8111 Nuestra Sra. de la Misericordia</a></p>
          <p><a href="{{asset('img/maps/08-mapa-zona.jpg')}}" class="button is-primary is-outlined" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;<b>ZONA 08</b> - Esc. de Ens. Media Nº 548 Mariano Moreno</a></p>
          <p><a href="{{asset('img/maps/09-mapa-zona.jpg')}}" class="button is-primary is-outlined" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;<b>ZONA 09</b> - Esc. de Educación Secundaria Orientada Nº 438</a></p>
          <p><a href="{{asset('img/maps/10-mapa-zona.jpg')}}" class="button is-primary is-outlined" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;<b>ZONA 10</b> - Esc. de Educación Secundaria Irientada Part. Nº 3179 Cristiano Redentor</a></p>
        </div>
      </div>
      <div class="column">
      <h1 class="subtitle is-3 has-text-primary">MAPA DE BARRIOS</h1>
      <p>Enterate en este mapa qué barrios fueron asignados a tu colegio</p>
      <br>
       <a href="{{asset('img/maps/00-mapa-general.jpg')}}" target="_blank"><img src="{{asset('img/maps/00-mapa-general.jpg')}}" class="image" alt=" mapa-de-barrios"></a>
       <a href="{{asset('img/maps/00-mapa-general.jpg')}}" target="_blank"><p class="is-300 has-text-centered has-text-primary">Hace clic aca para ver el mapa en pantalla completa</p></a>
      </div>  
    </div>
  </div>
</div>
<div class="section">
  <div class="container is-fluid content">
    <h5 class="subtitle is-3 has-text-primary">Barrios, mapa, y referencias varias</h5>
      <table class="table is-fullwidth is-bordered is-striped is-hoverable">
        <thead>
          <tr>
           <th>ZONA</th>
            <th>Imagen</th>
            <th>Límites de los barrios</th>
            <th>Referencias Asociaciones Vecinales</th>
            <th>Referencias escuelas</th>
            <th>Referencias clubes e instituciones</th>
            <th>Referencias plazas</th>
          </tr>
        </thead>
         <tbody>
          <tr>
            <td>ZONA 1</td>
            <td>          <p><a href="{{asset('/img/maps/01-mapa-zona.jpg')}}" class="has-text-link" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;Ver mapa</p></td>
            <td>
              <strong>Límites de los barrios:</strong><br>
              Barrio Norte: Arroyo San Lorenzo, vías FF.CC. G. B. Mitre, Fournier y Díaz Vélez.<br>
              Barrio Díaz Vélez: vías FF.CC. G. B. Mitre, Arroyo San Lorenzo, San Carlos (continuación), Av. Mitre, Mosconi y G. Roldán
            </td>
            <td>
              <strong>Referencias Asociaciones Vecinales:</strong><br>
              Vecinal Barrio Norte<br>
              Presidente: Susana Balquintas<br>
              Dirección: Clemente Albelo 3780<br><br>
              Vecinal Barrio Díaz Vélez<br>
              Presidente: Pablo Consolani<br>
              Dirección: Bv. Eva Perón 544
            </td>
            <td>
              <strong>Referencias escuelas:</strong><br>
              Esc. Nº 664 “Rosario Vera Peñaloza”<br>
              Alemania 771<br><br>
              Esc. Nº 1332 “Roque Nosetto”<br>
              Perú y España<br><br>
              Esc. de Ens. Media Nº 439 “Dr. Melitón Francisco Hierro”<br>
              Gral. López y Bvrd. Eva Perón<br><br>
              Esc. de Edu. Téc. Nº 477 “Combate de San Lorenzo”<br>
              Av. San Martín 3575
            </td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>ZONA 2</td>
            <td><p><a href="{{asset('/img/maps/02-mapa-zona.jpg')}}" class="has-text-link" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;Ver mapa</p></td>
            <td>
              <strong>Límites de los barrios:</strong><br>
              Barrio El Pino: Av. Juan D. Perón, Bolivia, Franciscanos, G. Roldán y Quiroga.<br>
              Barrio Islas Malvinas: Fournier, vías FF.CC. G. B. Mitre, Bolivia, G. Roldán y Díaz Vélez.<br>
              Barrio N. Oroño: vías FF.CC. G. B. Mitre, Av. San Martín y Falucho.
            </td>
            <td>
              <strong>Referencias Asociaciones Vecinales:</strong><br>
              Vecinal Barrio El Pino<br>
              Presidente: Nancy Luna<br>
              Dirección: Rioja 3050<br><br>
              Vecinal Barrio Islas Malvinas<br>
              Presidente: Luis Solis<br>
              Dirección: Islas Malvinas 2801<br><br>
              Vecinal Barrio N. Oroño<br>
              Dirección: Diagonal Berardo 976
            </td>
            <td>
              <strong>Referencias escuelas:</strong><br>
              Esc. Nº 6390 “Almafuerte”<br>
              Bvrd. Oroño y Bolivia
            </td>
            <td></td>
            <td></td>
          </tr>

          <tr>
  <td>ZONA 3</td>
  <td><p><a href="{{asset('/img/maps/03-mapa-zona.jpg')}}" class="has-text-link" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;Ver mapa</p></td>
  <td>
    <strong>Límites de los barrios:</strong><br>
    Barrio 3 de Febrero: G. Roldán, Franciscanos, Bv. Oroño y Vega.<br>
    Barrio Capitán Bermúdez: Bolivia, Berón de Astrada, vías FF.CC. G. B. Mitre y Bv. Oroño.<br>
    Barrio Las Quintas: vías FF.CC. Belgrano, Berón de Astrada, vías FF.CC. G. B. Mitre y Genaro Roldán.
  </td>
  <td>
    <strong>Referencias Asociaciones Vecinales:</strong><br>
    Vecinal Barrio 3 de Febrero<br>
    Presidente: Mirta Marinelli<br>
    Dirección: Bisson y Houssay<br><br>
    Vecinal Barrio Capitán Bermúdez<br>
    Presidente: Marisa Petiti<br>
    Dirección: Escalada 2348<br><br>
    Vecinal Barrio Las Quintas<br>
    Presidente: José Alonso<br>
    Dirección: Oroño s/n
  </td>
  <td>
    <strong>Referencias escuelas:</strong><br>
    Esc. Nº 219 “Nicasio Oroño”<br>
    Oroño s/n y Corina Moreno
  </td>
  <td></td>
  <td></td>
</tr>

<tr>
  <td>ZONA 4</td>
  <td><p><a href="{{asset('/img/maps/04-mapa-zona.jpg')}}" class="has-text-link" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;Ver mapa</p></td>
  <td>
    <strong>Límites de los barrios:</strong><br>
    Barrio Fonavi Oeste: vías FF.CC. G. B. Mitre, Berón de Astrada, vías FF.CC. Belgrano y Sgo. del Estero.<br>
    Barrio Supe: vías FF.CC. G. B. Mitre, Berón de Astrada, Dorrego y Tucumán.<br>
    Barrio Leandro N. Alem: vías FF.CC. G. B. Mitre, Falucho, Av. San Martín, Tucumán, Dorrego y J. Ingenieros.
  </td>
  <td>
    <strong>Referencias Asociaciones Vecinales:</strong><br>
    Vecinal Barrio Fonavi Oeste<br>
    Presidente: Jorge Gómez<br>
    Dirección: Echeverria de Vidal 2056<br><br>
    Vecinal Barrio Supe<br>
    Dirección: Sgo. del Estero y Juan José Paso<br><br>
    Vecinal Barrio Leandro N. Alem<br>
    Presidente: Melina Negrete<br>
    Dirección: 9 de Julio 1243
  </td>
  <td>
    <strong>Referencias escuelas:</strong><br>
    Esc. de Ens. Media Nº 549 “Ma. Catalina Echavarría de Vidal”<br>
    Fray García (Entre José Ingenieros y Hugo del Carril)<br><br>
    Esc. Nº 1339 “Ing. Enrique Mosconi”<br>
    José Ingenieros 1850<br><br>
    Esc. Nº 113 “Sargento Cabral”<br>
    H. Yrigoyen 2415
  </td>
  <td>
    <strong>Referencias clubes:</strong><br>
    Club Sportivo Libertad<br>
    Leandro N. Alem 947<br><br>
    Club Defensores Remedios de Escalada<br>
    Santiago del Estero 1402
  </td>
  <td>
    <strong>Referencias plazas:</strong><br>
    Plaza de los Ypfianos
  </td>
</tr>

<tr>
  <td>ZONA 5</td>
  <td><p><a href="{{asset('/img/maps/05-mapa-zona.jpg')}}" class="has-text-link" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;Ver mapa</p></td>
  <td>
    <strong>Límites de los barrios:</strong><br>
    Barrio Mitre: vías FF.CC. G. B. Mitre, San Juan, Autopista Brig. Estanislao López y A. Palacios
  </td>
  <td>
    <strong>Referencias Asociaciones Vecinales:</strong><br>
    Vecinal Barrio Mitre<br>
    Presidente: Enrique Chiaricci<br>
    Dirección: Carugatti 1901
  </td>
  <td></td>
  <td>
    <strong>Referencias clubes:</strong><br>
    Club de Tenis 6.0<br>
    Red Star Lawn Tenis Club (predio)<br>
    Blvd. Urquiza 2300<br>
    Club Atlético Defensores de Barrio Vila<br>
    Paraiso 1902
  </td>
  <td>
    <strong>Referencias plazas:</strong><br>
    Plaza Barrio Mitre<br>
    Plaza Don Antonio Sicotero
  </td>
</tr>

<tr>
  <td>ZONA 6</td>
  <td><p><a href="{{asset('/img/maps/06-mapa-zona.jpg')}}" class="has-text-link" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;Ver mapa</p></td>
  <td>
    <strong>Límites de los barrios:</strong><br>
    Barrio Combate: Falucho, Río Paraná, Bv. Urquiza, Dorrego, Tucumán y Av. San Martín.<br>
    Barrio Escalada: vías FF.CC. G. B. Mitre, Tucumán, Dorrego y Bv. Urquiza.
  </td>
  <td>
    <strong>Referencias Asociaciones Vecinales:</strong><br>
    Vecinal Barrio Combate<br>
    Presidente: Edmundo Lingo<br>
    Dirección: Saavedra 1720<br><br>
    Vecinal Barrio Escalada<br>
    Dirección: Belgrano y Pte. Roca
  </td>
  <td>
    <strong>Referencias escuelas:</strong><br>
    Esc. de Ens. Media Particular Incorp. Nº 8083 “San Carlos”<br>
    Dirección: Belgrano 480<br><br>
    Colegio Nº 3179 “Nuestra Sra. de la Misericordia”<br>
    Dirección: Belgrano 584<br><br>
    Esc. de Edu. Téc. Nº 672 “Remedios Escalada de San Martín”<br>
    Dirección: Belgrano 459<br><br>
    Inst. Superior Part. Incorp. Nº 9085 “Sta. Rosa de Viterbo”<br>
    Dirección: Sgto. Cabral 1873
  </td>
  <td></td>
  <td></td>
</tr>

<tr>
  <td>ZONA 7</td>
  <td><p><a href="{{asset('/img/maps/07-mapa-zona.jpg')}}" class="has-text-link" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;Ver mapa</p></td>
  <td>
    <strong>Límites de los barrios:</strong><br>
    Barrio 1 de Julio: Moreno, Río Paraná, Luis Borghi y Bv. Sgto. Cabral.<br>
    Barrio San Martín: vías FF.CC. Belgrano, Luis Borghi, Río Paraná y Cervera.<br>
    Barrio 17 de Agosto: Moreno, Bv. Sgto. Cabral, Luis Borghi y vías FF.CC. Belgrano.<br>
    Barrio Stgo. Cabral: vías FF.CC. G. B. Mitre, Bv. Urquiza, Río Paraná y Moreno.
  </td>
  <td>
    <strong>Referencias Asociaciones Vecinales:</strong><br>
    Vecinal Barrio 1 de Julio<br>
    Presidente: Mario Studer<br>
    Dirección: Luis Borghi 276<br><br>
    Vecinal Barrio San Martín<br>
    Presidente: Dianela Segovia<br>
    Dirección: D. Porteau 246<br><br>
    Vecinal Barrio 17 de Agosto<br><br>
    Vecinal Barrio Stgo. Cabral
  </td>
  <td>
    <strong>Referencias escuelas:</strong><br>
    Esc. de Educación Secundaria Orientada Nº 438<br>
    Dirección: Moreno 515
  </td>
  <td>
    <strong>Referencias a instituciones:</strong><br>
    Centro de excombatientes “Combate de San Lorenzo”<br>
    Dirección: Catamarca y pasaje Alzugaray
  </td>
  <td></td>
</tr>


<tr>
  <td>ZONA 8</td>
  <td><p><a href="{{asset('/img/maps/08-mapa-zona.jpg')}}" class="has-text-link" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;Ver mapa</p></td>
  <td>
    <strong>Límites de los barrios:</strong><br>
    Barrio Moreno: vías FF.CC. G. B. Mitre, San Juan, FF.CC. Belgrano y Jujuy.<br>
    Barrio José Hernández: vías FF.CC. G. B. Mitre, Jujuy, vías FF.CC. Belgrano y Congreso.
  </td>
  <td>
    <strong>Referencias Asociaciones Vecinales:</strong><br>
    Vecinal Barrio Moreno<br>
    Presidente: Hugo Ludueña<br>
    Dirección: 25 de Mayo e Iriondo<br><br>
    Vecinal Barrio José Hernández<br>
    Presidente: Iván Perez<br>
    Dirección: Misiones y San José
  </td>
  <td>
    <strong>Referencias escuelas:</strong><br>
    Esc. de Ens. Media Nº 548<br>
    Dirección: Tuyuti 1588
  </td>
  <td>
    <strong>Referencias a instituciones:</strong><br>
    C.A.D.I. (CENTRO DE APOYO AL DISCAPACITADO)<br>
    Dirección: Paraguay y Ayohuma<br><br>
    Asociación Civil ANIDE<br>
    Dirección: Iriondo 1685
  </td>
  <td></td>
</tr>


<tr>
  <td>ZONA 9</td>
  <td><p><a href="{{asset('/img/maps/09-mapa-zona.jpg')}}" class="has-text-link" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;Ver mapa</p></td>
  <td>
    <strong>Límites de los barrios:</strong><br>
    Barrio San Eduardo: Ruta Provincial N° A-012, Juan Gorritti y M. Céspedes.<br>
    Barrio Felisa: Ruta Nacional N° 11, Gobernador Saavedra, vías FF.CC. G. B. Mitre y Congreso.<br>
    Barrio Rivadavia: Ruta Nacional N° 11, Dr. Rafael Araya, vías FF.CC. G. B. Mitre y Gobernador Saavedra.<br>
    Barrio Morando: Ruta Provincial N° A-012, vías FF.CC. G. B. Mitre, A. Fernández, Z. Martínez y J. Calluso.
  </td>
  <td>
    <strong>Referencias Asociaciones Vecinales:</strong><br>
    Vecinal Barrio San Eduardo<br>
    Presidente: Vanesa Palacios<br>
    Dirección: Cespedes 281<br><br>
    Vecinal Barrio Felisa<br>
    Presidente: María Rodriguez<br>
    Dirección: Ing. White e Intendente Kuri<br><br>
    Vecinal Barrio Rivadavia<br>
    Presidente: Cristina Klain<br>
    Dirección: Balcarce 560<br><br>
    Vecinal Barrio Morando
  </td>
  <td></td>
  <td></td>
  <td></td>
</tr>

<tr>
  <td>ZONA 10</td>
  <td><p><a href="{{asset('/img/maps/10-mapa-zona.jpg')}}" class="has-text-link" target="_blank"><i class="far fa-lg fa-map"></i>&nbsp;Ver mapa</p></td>
  <td>
    <strong>Límites de los barrios:</strong><br>
    Barrio Bouchard: Ruta Nacional° 11, J. M. Estrada, vías FF.CC. G. B. Mitre y Dr. Rafael Araya.<br>
    Barrio 2 de Abril: Ruta Nacional N° 11, Scapigliatti, Río Paraná y J. M. Estrada.
  </td>
  <td>
    <strong>Referencias Asociaciones Vecinales:</strong><br>
    Vecinal Barrio Bouchard<br>
    Presidente: Nelson Stofler<br>
    Dirección: Gurel 850<br><br>
    Vecinal Barrio 2 de Abril<br>
    Presidente: Maria de los Angeles Perizotti<br>
    Dirección: Sorrequieta y Ex-Combatientes
  </td>
  <td></td>
  <td>
    <strong>Referencias a instituciones:</strong><br>
    Club de los Abuelos Barrio Bouchard<br>
    Dirección: Estado de Israel 345
  </td>
  <td>
    <strong>Referencias a plazas:</strong><br>
    Plaza Las Malvinas<br>
    Dirección: M. Sorrequieta, S2200
  </td>
</tr>




         </tbody>

      </table>

  </div>
</div>