<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}Inicio{% endblock %}
      - Presupuesto Participativo Joven - Municipio de San Lorenzo
    </title>
    
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('favicon-16x16.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{asset('favicon-96x96.png')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/virtuagora.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
    {% block scriptshead %}{% endblock %}
    <style>
    body{
      font-family: 'Roboto',BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    @media print {
      /* body {transform: scale(.7);} */
      table {page-break-inside: avoid;}
    }
</style>
  </head>
  <body {% if body_class is defined %} class='{{ body_class }}' {% endif %}>
    <div id="vue" class="content-master">
      {% block body %}{% endblock %}
    </div>
    {% if show_footer == true %}
      {% include 'sl/base/footer.twig'%}
    {% endif %}
    <script type="text/javascript" src="{{asset('js/manifest.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/vendor.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/virtuagora.js')}}?updated={{options()['refresh-cache']}}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>